body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    font-size: large;
    height: 400px;
    background: url("images/header.jpg");
    background-position: center;
    background-attachment: contain;
    background-position: center; 
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: black;
}

img {
    width: 100%;
    max-height: 100%;
    object-fit: contain
}

.header-text {
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    text-align: center;
    font-size: 40px;
    color: orange;
    padding-top: 160px;
    opacity: 75%;
    
}

.navbar {
    display: flex;
    margin: auto;
    align-items: stretch;
    flex-direction: row;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    line-height: 80px;
    padding-bottom: 2%;
}

.navbar-item {
    flex: 1;
    
}

.navbar-logo {
    text-align: left;
}

.navbar-social {
    text-align: right;
    padding-right: 5%;
}

.grid {
    display: grid;
    width: auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-item {
    padding: 10px;
    background-color: white;
    border: 10px solid silver;
    padding-bottom: 25px;
    width: fit-content;
}

.item-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    object-fit: contain;
    padding-top: 10px;
    font-size: 25px;
    background-color: palevioletred;
    color: white;
}

.item-text-container {
    display:flex;
}

.item-text-container > p {
    padding: 5px;
}

.img-container {
    position: relative;
    text-align: center;
    color: yellow;
}

.date {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#culture {    
    grid-column: 1/3;
    grid-row: 1;
}

#gastronomy {
    grid-column: 3/5;
    grid-row: 1;
}

#tourism {
    grid-column: 1/3;
    grid-row: 2;
}

#nocturnal-life {
    grid-column: 3/5;
    grid-row: 2;
}

#sidebar {
    grid-column: 5/6;
    grid-row: 1/4;
    background-color: silver;
}

#bottom {
    grid-column: 1/5;
    grid-row: 3;
    background-color: silver;
    text-align: center;
}

footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: lightgrey;
    border-left: 10px solid silver;
    border-right: 10px solid silver;
    color: gray;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    body {
      max-width: 800px;
    }

    .link-label {
        display: none;
    }

    #culture {    
        grid-column: 1/4;
        grid-row: 1;
    }
    
    #gastronomy {
        grid-column: 1/4;
        grid-row: 2;
    }
    
    #tourism {
        grid-column: 1/4;
        grid-row: 3;
    }
    
    #nocturnal-life {
        grid-column: 1/4;
        grid-row: 4;
    }
    
    #sidebar {
        grid-column: 4/6;
        grid-row: 1/5;
        background-color: silver;
    }
    
    #bottom {
        grid-column: 1/6;
        grid-row: 5;
        background-color: silver;
        text-align: center;
    }
}