body {
  max-width: 1200px;
  justify-content: center;
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: auto;
}

.grid {
  margin-top:20px;
  display: grid;
  border: 5px solid #000;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  margin-bottom: 20px;
}

.item {
  text-align: center;
  border: 5px solid #000;
  height: auto;
  padding: 10px;
}

#one {
  color: #F73F52;
  background-color: #2D4059;
  grid-column: 1/4;
  grid-row: 1;
}

#two {
  color: #E6AF2E;
  background-color: #F07B3F;
  grid-column: 1/4;
  grid-row: 2;
}

#three {
  background-color: #4E4E6A;
  color:aqua;
  grid-column: 1/2;
}

#four {
  background-color: #F73F52;
  color: #E6AF2E;
  grid-column: 2/4;
}

#five {
  background-color: #E6AF2E;
  color: #4E4E6A;
  grid-column: 1/4;
}
  